*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

body {
    background-color: #EAEEF3;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.title {
    color: #242424;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    margin: 10px 0;
}

.main {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #DBE0E6;
}

.container {
    max-width: 1575px;
    margin: 0 auto;
    padding: 10px 20px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}

.header__left-block {}

.header__right-block {
    display: flex;
    width: 250px;
    justify-content: flex-end;
}

.header__home-icon {
    height: 20px;
    width: 20px;
    background-image: url(img/Rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
}

.header__lang {
    -webkit-appearance: none;
    background-image: url(img/Line.png);
    background-repeat: no-repeat;
    background-position: 94% 50%;
    width: 200px;
    height: 40px;
    border: 1px solid #C4CBD3;
    border-radius: 4px;
    padding: 5px;
}

.header__user-icon {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: #0065C1;
    background-image: url(img/User.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
}

.service__row {
    display: flex;
    flex-direction: column;
}

.service__title {
    font-size: 23px;
    line-height: 27px;
}

.service__content {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.service__filter {
    min-width: 275px;
    width: 20%;
    height: 450px;
    background-color: #fff;
    border-radius: 6px;
    padding: 25px 20px;
}

.service__lists {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.filter__title {
    color: #242424;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
}

.filter__text {
    color: #242424;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
}

.filter__input {
    border: 1px solid #C4CBD3;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
}

.filter__bottom-block {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.filter__filial {
    -webkit-appearance: none;
    background-image: url('img/Line2312.png');
    background-repeat: no-repeat;
    background-position: 94% 50%;
    width: 100%;
    height: 40px;
    border: 1px solid #C4CBD3;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

.button-green {
    background-color: #14B668;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
}

.service__text {
    color: #242424;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;

}

.text {
    font-size: 14px;
    line-height: 16px;
    color: #242424;
    margin: 5px 0;
}

.service__diagram {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    padding: 25px;
}

.service__block {
    width: 78%;

}

.service__table {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}

.button {
    padding: 15px 21px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.button-grey {
    background-color: #EAEEF3;
    color: #4B4B4B;
    margin-right: 10px;
}
.category__block {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 150px;
    border-radius: 3px;
}


.category__diagram {
    padding: 35px 0 10px 0;
}

.button-blue {
    background-color: #2755BD;
    color: #fff;
    box-shadow: 0 3px 7px #91A9DE;
}


.service__item {
    background-color: #fff;
    border-radius: 5px;
    padding: 28px 10px 20px 10px;
    min-height: 120px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item__text {
    color: #2755BD;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.item__number {
    color: #242424;
    font-weight: bold;
    font-size: 45px;
    line-height: 35px;
    text-align: center;
}



.table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
}

.table__title {
    color: #242424;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.table td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #242424;
    text-align: center;
    font-weight: 500;
}

.table th {
    background-color: #D4D9E3;
    padding: 15px;
    color: #4B4B4B;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.table th:first-child {
    border-top-left-radius: 5px;
}

.table th:nth-child(2) {
    text-align: left;
}

.table th:last-child {
    border-top-right-radius: 5px;
}

.table td:first-child {
    border-bottom-left-radius: 5px;
}

.table td:last-child {
    border-bottom-right-radius: 5px;
}

.table td:nth-child(2) {
    text-align: left;
}

.table td:first-child {
    border-left: none;
}

.table td:last-child {
    border-right: none;
}

.table tr:last-child td {
    border-bottom: none;
}

.highcharts-figure, .highcharts-data-table table {
    width: 100%;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.diagram__text {
    color: #242424;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
}


@media (max-width: 1400px) {
    .service__filter {
        min-width: 225px;
        height: 490px;
    }

    .service__item {
        width: 140px;
    }

    .filter__bottom-block {
        flex-direction: column;
    }

    .button-grey {
        margin-right: 0;
        margin-bottom: 10px;
    }
}